<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Cars</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/cars">Cars</a>
        <a>--- </a>
        <a class="company" href="/brands">Brands</a>
        <a>--- </a>

        <a class="create" href="/create_car">Create_cars</a>
        <a>--- </a>
        <a class="create" href="/create_brands">Create_brands</a>
        <a>---</a>
        <a class="cart" href="/cart">Shopping_Cart</a>
    </div>
    <div class="form">
        <form action="/create_brands" method="post">

            <fieldset>
                <legend>Form add new Maf</legend>


                <div class="input-group">
                    <label>Brand_id: </label>
                    <input type="text" name="brand_id" />
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name" />
                </div>
                <div>
                    <button Type="submit"> Save</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>

</html>