/* Add a color to the active/current link */
.topnav a.active {
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
}

.topnav a.company {
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
}

.topnav a.create {
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
}

.topnav a.user {
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
}

.logout-btn {
    position: absolute;
    top: 0;
    right: 1px;
    background-color: #04AA6D;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 7px 12px;
    /* Thêm padding để tăng kích thước nút */
}